.containercard-body {
  padding: 16x;
}

.badge {
  color: #1ea847;
  background-color: #c7fad5;
  padding: 6px;
  border-radius: 4px;
}

.icons-dashboard a {
  color: #b5b5c3;
}

.text-container{
  width: 400px;
}
