// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

.card-top {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-top h4 {
  font-size: 32px;
}

.card-dog {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 9px;
  padding: 12px;
  margin-bottom: 16px;
  max-height: 224px;
}

.owner-name {
  font-size: 12px;
  color: grey;
}

.card-dog-text {
  flex-grow: 1;
  min-height: 84px;
  max-height: 84px;
  .btn-blue {
    margin-top: -4px;
  }
}

.card-dog:first-child {
  margin-top: 12px;
}

.card-dog-header {
  display: flex;
  align-items: flex-end;
}

.card-dog-img-top {
  width: 200px;
  height: 200px;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 9px;
}

.card-dog-title {
  font-weight: bolder;
  margin-right: 12px;
  a {
    color: rgb(106, 111, 182);
    &:hover {
      color: rgb(64, 67, 116)
    }
  }
}

h6 {
  color: grey;
}

h4 {
  font-weight: bolder;
}

#map {
    height: cover;
    position: sticky;
    top: 60px;
    height: 100vh;
}
