.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-container {
  display: flex;
  align-items: flex-end;
  margin-top: 12px;
}

h1 {
  margin-right: 25px;
  margin-top: 16px;
}

.breed-title {
  color: grey;
}

.map {
  width: 100%;
}

.btn {
  margin-bottom: 12px;
}

.description-card {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  padding: 16px;
}

.calendar-card {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  padding: 16px;
}
