<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar" data-controller="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/djxbpnlad/image/upload/v1645564156/logo_gi2eae.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dogs">See all dogs</a>
          </li>
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <div class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag(current_user.photo.key, width: 40, height: 40, class: "avatar") %>
                <% else %>
                  <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" />
                <% end %>
              </div>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my-dashboard">Dashboard</a>
              </div>
            <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/dogs/new">Add listing</a>
            </div>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
