<div class= "container">

      <div class="card-dashboard mt-4 text-center">
        <h2 class = "mb-4 mt-4">This website is run by Sander and Eugenia.</h2>
        <p>This is all you need to know.</p>
      </div>

</div>
