<div class= "container mt-4 p-4">
  <div class="row">
    <div class="col-7">
      <p>The team</p>
      <h1 class = "mb-4 mt-4">Meet our team of experts in <br>
        dog-business and web-development</h2>
      <p>To be the company customers want us to be, it takes an exlectric group <br>of passionate professionals. Get to know the people leading the way at DoggyRent.</p>
    </div>
  </div>
  <div class="container mt-4">
    <div class="d-flex justify-content-center gx-4">
        <div class="card-about me-5" style="width: 18rem;">
          <img class="card-about-us" src="https://source.unsplash.com/random/?man" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sander</h5>
            <p class="card-text">Develops databases for website functionality and codes.</p>
          </div>
        </div>

        <div class="card-about" style="width: 18rem;">
          <img class="card-about-us" src="https://source.unsplash.com/random/?woman" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Eugenia</h5>
            <p class="card-text">Designes user interactions on the website.</p>
          </div>
        </div>
    </div>
</div>
</div>
