<h1>These are the listed doggies</h2>

<div class="container">
  <div class="row">
  <% @dogs.each do |dog| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F05%2F18%2Fcockapoo-red-colored-greenery-223686877-2000.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= dog.name %></h5>
            <p class="card-text"><%= dog.description %></p>
            <a href="#" class="btn btn-primary">Book this dog</a>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>