<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.rd.com/wp-content/uploads/2021/01/GettyImages-588935825.jpg);">
  <div class="container-banner">
    <h1>Want to take <br>me for a walk?</h1>
    <p><strong>Doggyrent</strong> connects dog lovers <br>to their favourite pets!</p>
    <a class="btn btn-light" href="/dogs">Rent a dog</a>
  </div>
</div>
