
<div class="container mt-4">
  <div class="row gx-5">
    <!------------------------USER INFO------------------------------------->
    <div class="col-3">
      <div class="bookings-sidebar">
        <%= render "dashboards/user_info" %>
      </div>
    </div>
    <div class="col-9 bookings-sidebar">

        <div class="row gx-5">
          <!-------------------------MY BOOKINGS---------------------------------->
          <div class="col-6">
            <%= render "dashboards/my_bookings" %>
          </div>
          <!-------------------------BOOKING REQUESTS----------------------------->
          <div class="col-6">
            <%= render "dashboards/requested_bookings" %>
          </div>
        </div>
        <!--row-->

      <!--container-->
    </div>
  </div>
</div>
