.booking-tooltip {
  position: relative;
  display: block;
  border-bottom: 1px dotted black;
}

.booking-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
  font-style: italic;
}

.booking-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.booking-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.dog-booked-name a {
  text-decoration: none;
  color: rgb(106, 111, 182);
    &:hover {
      color: rgb(64, 67, 116)
}
}

.link-dog-show a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(106, 111, 182);
    &:hover {
      color: rgb(64, 67, 116)
}
}

#nav-current-tab {
  color: rgb(106, 111, 182);
}

#nav-archived-tab {
  color: rgb(106, 111, 182);
}
